@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.cart {
	padding-top: 100px;
	overflow: hidden;

	.cart-title {
		font-size: 36px;
		font-weight: 600;
		color: $light-black-color;
		padding: 30px 12px;

		@include atMobileScreen {
			font-size: 26px;
		}
	}
	.cart-content {
		&__list {
			table {
				width: 100%;
				border-collapse: collapse;
				margin-bottom: 30px;

				thead {
					tr {
						border-bottom: 1px solid $border-color;

						th {
							padding: 20px;
							color: $gray-color;
							font-size: 11px;

							@include atMobileScreen {
								padding: 10px 0px;
							}
						}
					}
				}
			}
		}
	}

	.cart-empty {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
	}
}
