@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

@keyframes TopToBottom {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.search {
	//custom scroll bar

	/* width */
	::-webkit-scrollbar {
		width: 3px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(209, 209, 209);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgb(209, 209, 209);
	}

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white-color;
	padding: 100px 0;
	animation: TopToBottom 0.5s ease;

	@include atTabletScreen {
		padding: 50px 0;
	}

	@include atMobileScreen {
		padding: 30px 8px;
	}

	.search-form {
		position: relative;

		&__title {
			font-size: 10px;
			font-weight: 600;
			color: $gray-color;
			text-transform: uppercase;
		}

		&__field {
			width: 100%;
			display: flex;
			align-items: center;
			border-bottom: 3px solid $light-gray-color;

			input {
				display: inline-block;
				flex: 1;
				border: none;
				outline: none;
				font-size: 36px;
				height: 90px;
				line-height: 90px;
				font-weight: 600;

				@include atMobileScreen {
					font-size: 26px;
					height: 60px;
				}

				&::placeholder {
					color: $light-gray-color;
				}
			}

			i {
				font-size: 32px;
				color: $light-gray-color;

				@include atMobileScreen {
					font-size: 26px;
				}
			}

			.search-form__result {
				position: absolute;
				top: calc(100% + 3px);
				left: 0;
				right: 0;
				max-height: 68vh;
				background-color: #fff;
				overflow: auto;
				box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
					rgba(17, 17, 26, 0.05) 0px 8px 32px;

				@include atMobileScreen {
					max-height: 78vh;
				}

				.search-form__loading {
					height: 80px;
					line-height: 80px;
				}

				.search-form__nors {
					color: $gray-color;
					font-size: 18px;
					font-weight: 600;
					text-align: center;
					height: 80px;
					line-height: 80px;
				}
			}
		}

		&__close {
			position: absolute;
			bottom: 100%;
			right: 0;
			font-size: 15px;
			font-weight: 500;
			color: $gray-color;
			display: flex;
			align-items: center;
			padding: 10px;
			cursor: pointer;

			@include atTabletScreen {
				font-size: 18px;
			}

			@include atMobileScreen {
				padding: 5px;
			}

			&:hover {
				opacity: 0.7;
			}

			span {
				padding-right: 10px;
			}
		}
	}
}
