@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.products {
	@include atMobileScreen {
		padding: 0 8px;
	}

	&__loading {
		height: 50vh;
	}

	&__more {
		text-align: center;
		margin-top: 50px;
		font-size: 13px;

		div {
			display: inline-block;
			cursor: pointer;
			padding: 10px;
			color: $light-gray-color;
			transition: all 0.3s linear;

			&:hover {
				color: $black-color;
			}

			&:hover i {
				transform: translateY(6px);
				transition: all 0.3s linear;
			}

			span {
				display: block;
				cursor: pointer;
				font-weight: 500;
			}

			i {
				display: block;
				cursor: pointer;
				padding-top: 10px;
			}
		}
	}

	&__end {
		display: flex;
		justify-content: center;
		margin: 30px;

		span {
			display: inline-block;
			font-size: 15px;
			color: $light-gray-color;
			font-weight: 600;
		}
	}
}
