@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.products {
	@include atMobileScreen {
		padding: 0 8px;
	}
	&__category {
		width: 100%;
		display: flex;
		justify-content: center;
		.products__title {
			color: $light-gray-color;
			cursor: pointer;
			display: inline-block;
			font-size: 24px;
			font-weight: 500;
			letter-spacing: 0px;
			padding: 10px;
			@include atMobileScreen {
				font-size: 15px;
				margin-top: 20px;
			}
		}
		.products__title.active {
			color: $light-black-color;
		}
	}
	&__more {
		text-align: center;
		padding-top: 50px;
		font-size: 13px;
		div {
			display: inline-block;
			cursor: pointer;
			&:hover span {
				color: $black-color;
			}
			span {
				display: block;
				cursor: pointer;
				color: $light-gray-color;
				font-weight: 500;
			}
			i {
				display: block;
				cursor: pointer;
				padding-top: 10px;
			}
		}
	}
	&__end {
		display: flex;
		justify-content: center;
		margin: 30px;
		span {
			display: inline-block;
			font-size: 13px;
			color: $light-gray-color;
			font-weight: 600;
		}
	}
}
