@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.topic-top {
	padding: 50px;

	@include atTabletScreen {
		padding: 50px 12px;
	}

	@include atMobileScreen {
		padding: 50px 10px;
	}

	&__item {
		@include atMobileScreen {
			margin-top: 10px;
		}

		.topic-top__wrap {
			position: relative;
			cursor: pointer;
			overflow: hidden;
			.topic-top__img {
				display: block;
				min-height: 280px;
				width: 100%;
				object-fit: cover;
				transform: scale(1);
				transition: all 0.3s ease-in-out;

				@include atTabletScreen {
					height: 100%;
				}

				@include atMobileScreen {
					height: 100%;
				}
			}

			.topic-top__content {
				padding-left: 20px;
				position: absolute;
				width: 50%;
				top: 50%;
				transform: translateY(-50%);

				.topic-top__name {
					font-size: 26px;
					line-height: 36px;
					font-weight: 500;

					@include atTabletScreen {
						font-size: 20px;
						line-height: 20px;
					}
				}

				.topic-top__btn {
					display: block;
					padding-top: 10px;
					font-size: 15px;

					&:hover {
						opacity: 0.8;
					}

					@include atTabletScreen {
						font-size: 10px;
					}
				}
			}

			&:hover .topic-top__img {
				transform: scale(1.3);
			}
		}
	}
}
