@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.home-products {
	padding: 0 50px;
	@include atMobileScreen {
		padding: 0 8px;
	}
	@include atTabletScreen {
		padding: 0 12px;
	}
	&__actions {
		text-align: center;
		li {
			display: inline-block;
			button {
				position: relative;
				border: none;
				outline: none;
				display: inline-block;
				font-size: 23px;
				color: #858585;
				background-color: transparent;
				font-weight: 500;
				text-align: center;
				padding: 8px 0;
				margin: 30px 15px;
				&::after {
					content: "";
					position: absolute;
					display: inline-block;
					left: 0;
					bottom: 0px;
					width: 0;
					height: 2px;
					background-color: $light-black-color;
					transition: all 0.3s linear;
				}
			}

			&:hover button {
				color: $light-black-color;
				transition: all 0.3s linear;
			}
			&:hover button::after {
				width: 100%;
				transition: all 0.3s linear;
			}
			button.active {
				color: $light-black-color;
			}
			button.active::after {
				width: 100%;
				color: $light-black-color;
			}
		}
	}
	&__loading {
		display: block;
		padding: 100px 0;
		text-align: center;
		font-size: 20px;
		color: $light-gray-color;
		font-weight: 500;
	}
	&__more {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		font-size: 13px;
		div {
			display: inline-block;
			cursor: pointer;
			&:hover span {
				color: $black-color;
			}
			span {
				display: block;
				cursor: pointer;
				color: $light-gray-color;
				font-weight: 500;
			}
			i {
				display: block;
				cursor: pointer;
				padding-top: 10px;
			}
		}
	}
	&__end {
		display: flex;
		justify-content: center;
		margin: 30px;
		span {
			display: inline-block;
			font-size: 15px;
			color: $light-gray-color;
			font-weight: 600;
		}
	}
}
