@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.slider-wrap {
	.slick-dots {
		position: absolute;
		bottom: 50px;
	}

	.slider-1 {
		background-image: url(../../assets/images/slide-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding-top: 50%;
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;

		@include atTabletScreen {
			padding-top: 140%;
		}

		@include atMobileScreen {
			padding-top: 174%;
		}

		&__caption {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: $light-black-color;

			h1 {
				padding: 0;
				font-size: 60px;
				font-weight: 600;
				letter-spacing: 0px;

				@include atMobileScreen {
					font-size: 33px;
				}
			}

			h5 {
				font-size: 16px;
				font-weight: 400;

				@include atMobileScreen {
					font-size: 15px;
				}
			}
		}
	}

	.slider-2 {
		background-color: #fbebe1;
		background-image: url(../../assets/images/slide-2.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 80% 50%;
		height: 100%;
		width: 100%;
		padding-top: 50%;
		position: relative;

		@include atTabletScreen {
			padding-top: 140%;
		}

		@include atMobileScreen {
			padding-top: 174%;
		}

		&__caption {
			position: absolute;
			top: 50%;
			left: 15%;
			transform: translateY(-50%);
			width: 35%;

			@include atMobileTabletScreen {
				width: 40%;
				left: 10%;
			}

			h1 {
				font-size: 63px;
				font-weight: 600;

				@include atTabletScreen {
					font-size: 40px;
				}

				@include atMobileScreen {
					font-size: 29px;
				}
			}

			h5 {
				font-size: 16px;
				font-weight: 400;

				@include atTabletScreen {
					font-size: 20px;
				}

				@include atMobileScreen {
					font-size: 14px;
				}
			}
		}
	}
	.slider-3 {
		background-color: #effce6;
		background-image: url(../../assets/images/slide-3.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 10% 50%;
		height: 100%;
		width: 100%;
		padding-top: 50%;
		position: relative;

		@include atMobileTabletScreen {
			padding-top: 140%;
			background-size: 70% 100%;
			background-position: 150% 50%;
		}

		@include atMobileScreen {
			padding-top: 174%;
		}

		&__caption {
			position: absolute;
			top: 50%;
			right: 10%;
			transform: translateY(-50%);
			width: 35%;
			text-align: center;

			@include atMobileTabletScreen {
				width: 50%;
				left: 5%;
			}

			h1 {
				font-size: 63px;
				font-weight: 600;

				@include atTabletScreen {
					font-size: 40px;
				}

				@include atMobileScreen {
					font-size: 29px;
				}
			}

			h5 {
				font-size: 16px;
				font-weight: 400;

				@include atTabletScreen {
					font-size: 20px;
				}

				@include atMobileScreen {
					font-size: 14px;
				}
			}
		}
	}
}
