@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
.orders {
	padding-top: 100px;
	.orders-title {
		font-size: 36px;
		font-weight: 600;
		color: $light-black-color;
		padding: 30px 12px;
		@include atMobileScreen {
			font-size: 26px;
		}
	}
	.orders-content {
		&__list {
			table {
				width: 100%;
				border-collapse: collapse;
				margin-bottom: 30px;
				thead {
					tr {
						border-bottom: 1px solid $border-color;
						text-align: left;
						th {
							padding: 20px;
							color: $gray-color;
							font-size: 11px;
							@include atMobileScreen {
								padding: 20px 10px;
							}
						}
					}
				}
			}
		}
	}
	.orders-empty {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
	}
}
