@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.cart-modal-item {
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
	border-bottom: 2px solid #eeeaea;
	&__img {
		background-image: url(../../../../assets/images/product-1.jpg);
		min-width: 80px;
		min-height: 90px;
		background-position: center center;
		background-size: cover;
	}
	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.cart-modal-item__info {
			display: flex;
			justify-content: space-between;
			h3 {
				font-size: 15px;
				margin: 0 10px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				@include atTabletScreen {
					font-size: 17px;
				}
			}
			i {
				font-size: 20px;
				text-align: right;
				cursor: pointer;
				color: $gray-color;
				&:hover {
					color: $light-gray-color;
				}
			}
		}
	}

	&__total {
		display: flex;
		justify-content: space-between;
		.cart-modal-item-amount {
			display: flex;
			font-size: 13px;
			@include atTabletScreen {
				font-size: 16px;
			}

			i {
				padding: 10px;
				cursor: pointer;
				&:hover {
					color: $light-gray-color;
				}
			}
			input {
				display: inline-block;
				width: 30px;
				height: 100%;
				outline: none;
				border: none;
				text-align: center;
			}
			input[type="number"]::-webkit-inner-spin-button,
			input[type="number"]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				margin: 0;
			}
		}

		span {
			font-size: 15px;
			padding: 10px;
			@include atMobileScreen {
				padding: 10px 0;
			}
		}
	}
}
