@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.footer {
	padding: 8px;

	&__contact {
		h3 {
			font-size: 15px;
			font-weight: 600;
			padding-bottom: 30px;

			@include atTabletScreen {
				font-size: 14px;
			}

			@include atMobileScreen {
				padding: 30px 0;
			}
		}

		ul {
			li {
				font-size: 14px;
				font-weight: 500;
				line-height: 36px;
				cursor: pointer;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	&__join {
		h3 {
			font-size: 15px;
			font-weight: 600;
			padding-bottom: 30px;

			@include atMobileScreen {
				padding: 30px 0;
			}
		}

		p {
			font-size: 13px;
		}

		div {
			display: flex;
			height: 40px;
			border-bottom: 3px solid $border-color;
			margin: 26px 0 20px;

			input {
				flex: 1;
				border: none;
				outline: none;
			}

			button {
				width: 60px;
				background-color: transparent;
				border: none;
				font-size: 13px;
				font-weight: 500;
				cursor: pointer;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	&__policy {
		ul {
			li {
				display: inline-block;
				font-size: 14px;
				font-weight: 500;
				padding-right: 20px;
				cursor: pointer;

				&:hover {
					opacity: 0.5;
				}

				@include atMobileTabletScreen {
					font-size: 12px;
					padding-right: 10px;
				}

				@include atMobileScreen {
					margin-bottom: 20px;
				}
			}
		}
	}
	&__social {
		li {
			float: right;
			list-style: none;
			padding-left: 30px;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}

			@include atMobileScreen {
				float: left;
				padding: 0 20px 0 0;
			}
		}
	}
}
