@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";
.account {
	padding-top: 100px;
	.account-title {
		text-align: center;
		padding: 60px 0 80px 0;
		h2 {
			font-size: 36px;
			font-weight: 700;
			color: $light-black-color;
		}
	}
	.account-body {
		width: 33%;
		border: 2px solid $border-color;
		margin: 0 auto;
		@include atTabletScreen {
			width: 60%;
		}
		@include atMobileScreen {
			width: 95%;
		}
		.account-tabs {
			.account-tab {
				display: inline-block;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: 700;
				width: 50%;
				text-align: center;
				line-height: 60px;
				color: rgba(21, 21, 21, 0.5);
				border-bottom: 2px solid $border-color;
				cursor: pointer;
				&:hover {
					color: $light-black-color;
					border-color: $light-black-color;
				}
			}
			.account-tab.active-tab {
				color: $light-black-color;
				border-color: $light-black-color;
			}
		}
		.account-content {
			padding: 50px;
			@include atTabletScreen {
				padding: 40px;
			}
			@include atMobileScreen {
				padding: 40px 20px;
			}
		}
	}
}
