@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
.about-services {
	padding: 140px 0;
	@include atMobileTabletScreen {
		padding: 50px 0;
	}
	.services-title {
		margin-bottom: 70px;
		font-size: 48px;
		font-weight: 300;
		padding: 0 12px;
	}
	.services-content {
		&__group {
			@include atMobileTabletScreen {
				margin-bottom: 40px;
			}
			@include atMobileScreen {
				padding: 0 12px;
			}
			img {
				margin-bottom: 28px;
			}
			h4 {
				font-size: 20px;
				font-weight: 500;
				color: $light-black-color;
				margin-bottom: 15px;
			}
			p {
				font-size: 16px;
				line-height: 26px;
				color: $light-black-color;
				margin-bottom: 18px;
			}
			button {
				border: none;
				outline: none;
				background: transparent;
				font-size: 11px;
				font-weight: 600;
				padding: 5px 0;
				color: $light-gray-color;
			}
		}
	}
}
