@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.detail-product {
	padding-top: 130px;
	overflow: hidden;

	@include atMobileScreen {
		padding-top: 68px;
	}

	&__loading {
		height: 50vh;
	}

	&__img {
		height: 700px;

		@include atMobileTabletScreen {
			height: 600px;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: 40px 20px;

		@include atMobileScreen {
			padding: 40px 8px;
		}

		.detail-product-name {
			font-size: 24px;
			font-weight: 600;
			color: $light-black-color;
			margin-bottom: 20px;
		}

		.detail-product-price {
			margin-bottom: 20px;

			&__current {
				color: $light-black-color;
				font-size: 24px;
				font-weight: 600;
			}

			&__old {
				color: $light-gray-color;
				text-decoration: line-through;
				margin-left: 10px;
				font-size: 20px;
				font-weight: 600;
			}
		}

		.detail-product-description {
			font-size: 15px;
			color: $gray-color;
			line-height: 26px;
			margin-bottom: 50px;
		}

		.detail-product-amount {
			width: 100%;
			display: flex;
			justify-content: space-between;
			border: 1px solid $border-color;
			margin-bottom: 20px;

			i {
				padding: 18px;
				color: $light-gray-color;
				cursor: pointer;

				&:hover {
					color: $gray-color;
				}
			}

			input {
				text-align: center;
				width: 60px;
				outline: none;
				border: none;
			}

			input[type="number"]::-webkit-inner-spin-button,
			input[type="number"]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				margin: 0;
			}

			&:hover {
				border-color: $light-gray-color;
			}
		}

		.detail-product-btn {
			width: 100%;
			padding: 18px;
			background-color: $light-black-color;
			color: $white-color;
			outline: none;
			border: none;
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 20px;

			&:hover {
				opacity: 0.9;
				transition: all 0.3s ease-in-out;
			}
		}

		.detail-product-back {
			display: block;
			width: 100%;
			padding: 18px;
			background-color: #f2f2f2;
			color: $light-black-color;
			font-size: 14px;
			font-weight: 500;
			text-align: center;
			margin-bottom: 50px;

			&:hover {
				background-color: $light-black-color;
				color: $white-color;
				transition: all 0.4s ease-in-out;
			}
		}
		.detail-product-footer {
			font-size: 11px;
			font-weight: 600;

			.detail-product-category {
				&__sku,
				&__cate {
					text-transform: uppercase;
					margin-right: 30px;
					color: $light-gray-color;
					line-height: 30px;
					@include atMobileTabletScreen {
						margin-right: 10px;
					}
					span {
						color: $light-black-color;
					}
				}
			}

			.detail-product-tag {
				span {
					margin-right: 30px;
					color: $light-gray-color;
					line-height: 30px;

					span {
						color: $light-black-color;
					}
				}
			}

			.detail-product-share {
				span {
					display: inline-block;
					margin-right: 10px;
					color: $light-gray-color;
					line-height: 30px;
				}

				div {
					display: inline-block;

					i {
						display: inline-block;
						font-size: 16px;
						margin-right: 20px;
					}
				}
			}
		}
	}

	.description {
		margin-top: 60px;

		@include atMobileScreen {
			padding-left: 4px;
			padding-right: 4px;
		}

		&__title {
			font-size: 22px;
			color: $light-black-color;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		&__paragraph {
			h3 {
				font-size: 18px;
				color: $light-black-color;
				margin-top: 10px;
				margin-bottom: 20px;
			}

			p {
				font-size: 15px;
				font-weight: 500;
				color: $light-black-color;
				line-height: 28px;
				margin: 20px 0;
			}
		}
	}
	.list-and-image {
		margin-top: 60px;
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color;

		@include atMobileScreen {
			padding-left: 4px;
			padding-right: 4px;
		}

		.list-left {
			&__unordered {
				padding-bottom: 30px;

				h3 {
					font-size: 18px;
					color: $light-black-color;
					margin-top: 10px;
					margin-bottom: 20px;
				}

				ul {
					margin-left: 17px;
					list-style-type: disc;
					font-size: 15px;
					font-weight: 500;
					line-height: 28px;
					color: $gray-color;

					li {
						padding-top: 5px;
						padding-bottom: 5px;
						padding-left: 10px;
					}
				}
			}
			&__ordered {
				padding-bottom: 30px;

				h3 {
					font-size: 18px;
					color: $light-black-color;
					margin-top: 10px;
					margin-bottom: 20px;
				}

				ol {
					margin-left: 17px;
					font-size: 15px;
					font-weight: 500;
					line-height: 28px;
					color: $gray-color;

					li {
						padding-top: 5px;
						padding-bottom: 5px;
						padding-left: 10px;
					}
				}
			}
		}
		.image-right {
			text-align: right;

			img {
				width: 100%;
			}
		}
	}
}
