@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.cart-modal-item {
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
	border-bottom: 2px solid #eeeaea;
	&__img {
		background-image: url(../../../assets/images/product-1.jpg);
		width: 100px;
		height: 100px;
		background-position: center center;
		background-size: cover;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h3 {
			font-size: 15px;
		}
		.cart-modal-item-amount {
			font-size: 13px;
			i {
				padding: 10px;
				cursor: pointer;
			}
			span {
				margin: 10px;
			}
		}
	}
	&__total {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		i {
			display: inline-block;
			font-size: 20px;
			text-align: right;
			cursor: pointer;
		}
		span {
			display: inline-block;
			font-size: 15px;
			padding: 10px;
		}
	}
}
