@import "../../../assets/styles/mixins";
@import "../.././../assets/styles/variables";

.account-register {
	display: none;

	.account-form {
		display: flex;
		flex-direction: column;

		&__username {
			font-size: 13px;
			line-height: 40px;
			outline: none;
			border: none;
			border-bottom: 2px solid $light-black-color;
		}
		&__username.failed {
			border-color: #af514f;
			color: #af514f;
		}

		.usename-err {
			display: block;
			margin: 0;
			width: 100%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background-color: #f2dede;
			color: #af514f;
		}

		&__password {
			@extend .account-form__username;
			margin-top: 30px;
		}

		&__submit {
			outline: none;
			line-height: 50px;
			text-transform: uppercase;
			color: $light-black-color;
			background-color: $light-black-color;
			color: $white-color;
			font-size: 11px;
			font-weight: 600;
			margin-bottom: 15px;

			&:hover {
				opacity: 0.8;
				transition: all ease-in-out 0.4s;
			}
		}

		p {
			font-size: 15px;
			line-height: 22px;
			font-weight: 400;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	button {
		width: 100%;
		text-align: center;
		color: $light-black-color;
		border: 1px solid $light-black-color;
		outline: none;
		line-height: 50px;
		text-transform: uppercase;
		background-color: $white-color;
		font-size: 11px;
		font-weight: 600;

		&:hover {
			background-color: $light-black-color;
			color: $white-color;
			transition: all ease-in-out 0.4s;
		}
	}
}

.account-item.active-content {
	display: block;
}
