@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.message {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 270px;
	height: 100px;
	color: #858585;
	font-size: 16px;
	font-weight: 700;
	background-color: $white-color;
	text-align: center;
	line-height: 100px;
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
	z-index: 20;
}
