@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.cart-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	width: 460px;
	max-width: 100%;
	z-index: 20;
	transform: translateX(100%);
	opacity: 0;
	transition: transform ease 0.4s, opacity linear 0.2s;
	will-change: opacity, transform;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fafafa;
		line-height: 70px;
		padding: 0 30px 0 50px;
		@include atMobileScreen {
			padding: 0 0 0 20px;
		}
		h3 {
			font-size: 25px;
			font-weight: bold;
		}
		i {
			display: block;
			padding: 20px;
			font-size: 24px;
			cursor: pointer;
			&:hover {
				color: $light-gray-color;
			}
		}
	}
	&__list {
		padding: 20px 50px;
		overflow-y: scroll;
		height: 60%;
		@include atMobileScreen {
			padding: 20px;
		}
	}
	&__empty {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		h3 {
			padding-bottom: 200px;
			@include atTabletScreen {
				font-size: 30px;
			}
		}
	}
	&__bottom {
		background-color: $white-color;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5px 50px 50px;
		@include atMobileScreen {
			padding: 5px 20px 20px;
		}
		.subtotal-modal {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			span {
				font-weight: 600;
			}
		}
		.viewcart-modal-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $light-black-color;
			width: 100%;
			border: 2px solid $black-color;
			height: 45px;
			font-weight: 600;
			background-color: $white-color;
			outline: none;
			margin-bottom: 20px;
			cursor: pointer;
			&:hover {
				background-color: $light-black-color;
				color: $white-color;
				transition: all ease-in-out 0.4s;
			}
		}
		.checkout-modal-btn {
			width: 100%;
			height: 45px;
			background-color: $black-color;
			color: $white-color;
			font-weight: 600;
			outline: none;
			cursor: pointer;
			&:hover {
				opacity: 0.9;
				transition: all ease-in-out 0.3s;
			}
		}
	}
}
.cart-modal.active {
	opacity: 1;
	transform: translateX(0);
}
