@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins";

.result-item {
	cursor: pointer;
	border: 1px solid $border-color;
	margin: 12px;

	@include atMobileTabletScreen {
		cursor: none;
	}

	&__img {
		overflow: hidden;

		a {
			display: block;
			padding-top: 120%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			transform: scale(1);
			transition: all 0.3s linear;
		}
	}

	&__content {
		width: 100%;
		padding: 0 4px;

		a {
			display: block;
			font-size: 15px;
			font-weight: 500;
			color: $gray-color;
			margin: 16px 0;
			width: 100%;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;

			@include atMobileScreen {
				margin: 14px 0;
			}
		}

		.result-item-price {
			margin-bottom: 16px;

			&__current {
				font-size: 13px;
				line-height: 17px;
				font-weight: 600;
			}

			&__old {
				font-size: 13px;
				font-weight: 600;
				line-height: 17px;
				padding-bottom: 10px;
				color: $light-gray-color;
				text-decoration: line-through;
				margin-left: 10px;
			}
		}
	}

	&:hover .result-item__img a {
		transform: scale(1.3);
		transition: all 0.4s linear;
	}
}
