@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.order-item {
	border-bottom: 1px solid $border-color;

	td {
		font-size: 15px;
		font-weight: 600;
		color: $light-black-color;
		padding: 20px;
		text-align: left;

		@include atMobileScreen {
			padding: 20px 10px;
		}
	}
}
.order-product-thead {
	font-size: 11px;
	text-transform: uppercase;
	color: $gray-color;
	text-align: left;

	th {
		padding: 10px;
	}
}

.order-product {
	font-size: 15px;
	color: $light-black-color;
	td {
		padding: 10px;
	}
}
